.DS_Store
.sass-cacheass-cache/**/*
log/*.log
tmp/**/*
rmagick
config/database.yml
config/baloo.yml
config/s3.yml
config/fog.yml
config/facebooker.yml
config/mongoid.yml
config/backup.rb
db/*.sqlite3
db/index/**/*
vendor/rails
public/cache/**/*
public/assets/**/*
public/uploads/**/*
.bundle\n
tmp/*
